@font-face {
  font-family: "iconfont1"; /* Project id 2833620 */
  src: url('iconfont.woff2?t=1633964226092') format('woff2'),
       url('iconfont.woff?t=1633964226092') format('woff'),
       url('iconfont.ttf?t=1633964226092') format('truetype');
}

.iconfont1 {
  font-family: "iconfont1" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon1-yinyong:before {
  content: "\ea90";
}

.icon1-hr:before {
  content: "\e600";
}

.icon1-yinyong1:before {
  content: "\e601";
}

.icon1-a-20_tiezipindao_fatiezi1x:before {
  content: "\e78c";
}

.icon1-yonghu:before {
  content: "\e69a";
}

.icon1-shouye:before {
  content: "\e8b3";
}

.icon1-caidanguanli:before {
  content: "\e609";
}

.icon1-lianjie:before {
  content: "\e60a";
}

.icon1-kaishi:before {
  content: "\e60b";
}

.icon1-quxiao1:before {
  content: "\e60c";
}

.icon1-querendaogang:before {
  content: "\e60d";
}

.icon1-xinjian:before {
  content: "\e60e";
}

.icon1-wancheng:before {
  content: "\e60f";
}

.icon1-zichan-quanbushebei:before {
  content: "\e610";
}

.icon1-shezhi:before {
  content: "\e611";
}

.icon1-a-zu2007:before {
  content: "\e612";
}

.icon1-a-zu2009:before {
  content: "\e613";
}

.icon1-a-zu2297:before {
  content: "\e614";
}

.icon1-a-zu2013:before {
  content: "\e615";
}

.icon1-xitongrizhi:before {
  content: "\e616";
}

.icon1-a-zu2010:before {
  content: "\e617";
}

.icon1-fanhui:before {
  content: "\e618";
}

.icon1-bangzhu:before {
  content: "\e619";
}

.icon1-zhiling:before {
  content: "\e61a";
}

